*.class
*.log
*.iws
*.json
*.csv
out/
lines.txt
graph.py
logs/
DbSettings.scala
test.png
crash_*

.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/runConfigurations/
!.idea/libraries/

# Ignore other common IntelliJ files
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/.name

